.App {
  width: 100%;
  min-height: 100vh;
  padding: 6px;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--accent);
}

.grid {
  display: grid;
}

.cell {
  border: 1px solid var(--bgSec);
  transition: all 300ms ease-in;
  cursor: pointer;

  font-weight: 400;
  font-size: 6px;
}

.cell:hover {
  border: 8px solid var(--accent);
}

.buttons {
  padding: 12px;
}

.buttons button {
  outline: none;
  border: none;
  background-color: var(--btnCol);
  color: var(--color);
  margin: 0 12px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 200ms;
}

.buttons button:hover {
  background-color: var(--btnHov);
}