.App {
  width: 100%;
  min-height: 100vh;
  padding: 6px;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--accent);
}

.grid {
  display: grid;
}

.cell {
  border: 1px solid var(--bgSec);
  transition: all 200ms ease-in;
  cursor: pointer;
  border-radius: 4px;
}

.cell:hover {
  background-color: var(--accentHov);
}

.buttons {
  padding: 12px;
}

.buttons button {
  outline: none;
  border: none;
  background-color: var(--btnCol);
  color: var(--color);
  margin: 0 12px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 200ms;
}

.buttons button:hover {
  background-color: var(--btnHov);
}

.smolscreen {
  display: none;
}

@media (max-width: 728px) {
  .smolscreen {
    display: flex;
    width: 100%;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: 700;
  }

  .smolscreen img {
    width: 70%;
    margin-top: 20px;
  }

  .smolscreen span {
    margin-top: 40px;
    font-weight: 400;
    color: var(--btnHov);
    font-size: 10px;
  }

  .App {
    display: none;
  }
}