.leftData {
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.leftData h4 {
    color: var(--accent);
    margin: 0 0 12px;
}

.data {
    width: 100%;
    display: flex;
    justify-content: center;
}

.data-data {
    width: 100%;
    text-align: center;
    color: var(--color)
}

.data-data p {
    font-size: 14px;
    margin: 8px 0;
}

.graph {
    padding: 4px 12px;
    height: 100%;
}